.list-group-item {
    border-color: #dee2e6;
    margin-bottom: 5px;
    padding: 10px;
}

.section-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wordle-container {
    display: flex;
}
